body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
#header {background-color: rgb(250, 187, 222);}    
#nav {background-color: rgb(173, 126, 154);}
#section {background-color: rgb(253, 208, 253);}