h1 {color: rgb(14, 14, 88); font-family: Arial, Helvetica, sans-serif;}
h2 {color:rgb(36, 36, 90); font-family: Arial, Helvetica, sans-serif;}
p {color:rgb(4, 4, 110); font-family: Arial, Helvetica, sans-serif;padding: 5px;}